<div class="container">
<!--<img src="<%#= @gravatar %>">-->
  <h1> Welcome <%= @user.name %>! </h1>
  <h2> User rating: <%= @user.patron_rating %> </h2>
  <h2> About: <%= @user.about_me %> </h2>
  <% if @user.cafe_location != nil %>
    <h2> Cafe rating: <%= @user.cafe_rating %> </h2>
    <h2> Cafe About: <%= @user.cafe_about %> </h2>
    <h2> Cafe Location: <%= @user.cafe_location %> </h2>
  <% end %>

</div>
<div id="buttons">
  <div id="profile_button">
    <a href="/cafes">
      <button type="submit" class="btn btn-success">Find a cafe near you</button>
    </a>
  </div>
  <div id="profile_button">
    <a href="/newhost">
      <button type="submit" class="btn btn-info">Become a host!</button>
    </a>
  </div>
   <div id="profile_button">
    <a href="/logout">
      <button type="submit" class="btn btn-warning">Logout</button>
    </a>
  </div>
</div>
